apiVersion: v1
kind: ConfigMap
metadata:
  name: mirror-registry-config-map
  namespace: "multicluster-engine"
  labels:
    app: assisted-service
data:
  registries.conf: |
    {{ acm_registry_conf | indent(4) }}
{%if acm_user_ca_bundle is defined%}
  ca-bundle.crt: |
    {{ acm_user_ca_bundle | indent(4) }}
{%endif%}
