---
apiVersion: config.openshift.io/v1
kind: ImageDigestMirrorSet
metadata:
  name: prega-extra-idms
spec:
  imageDigestMirrors:
  - mirrors:
    - {{ prega_mirror }}/prega/test/advanced-cluster-security
    source: registry.redhat.io/advanced-cluster-security
  - mirrors:
    - {{ prega_mirror }}/prega/test/advanced-cluster-security
    source: registry.stage.redhat.io/advanced-cluster-security
  - mirrors:
    - {{ prega_mirror }}/prega/test/ansible-automation-platform
    source: registry.redhat.io/ansible-automation-platform
  - mirrors:
    - {{ prega_mirror }}/prega/test/ansible-automation-platform
    source: registry.stage.redhat.io/ansible-automation-platform
  - mirrors:
    - {{ prega_mirror }}/prega/test/ansible-automation-platform-25
    source: registry.redhat.io/ansible-automation-platform-25
  - mirrors:
    - {{ prega_mirror }}/prega/test/ansible-automation-platform-25
    source: registry.stage.redhat.io/ansible-automation-platform-25
  - mirrors:
    - {{ prega_mirror }}/prega/test/ansible-automation-platform-26
    source: registry.redhat.io/ansible-automation-platform-26
  - mirrors:
    - {{ prega_mirror }}/prega/test/ansible-automation-platform-26
    source: registry.stage.redhat.io/ansible-automation-platform-26
  - mirrors:
    - {{ prega_mirror }}/prega/test/cert-manager
    source: registry.redhat.io/cert-manager
  - mirrors:
    - {{ prega_mirror }}/prega/test/cert-manager
    source: registry.stage.redhat.io/cert-manager
  - mirrors:
    - {{ prega_mirror }}/prega/test/cli-manager
    source: registry.redhat.io/cli-manager
  - mirrors:
    - {{ prega_mirror }}/prega/test/cli-manager
    source: registry.stage.redhat.io/cli-manager
  - mirrors:
    - {{ prega_mirror }}/prega/test/cluster-observability-operator
    source: registry.redhat.io/cluster-observability-operator
  - mirrors:
    - {{ prega_mirror }}/prega/test/cluster-observability-operator
    source: registry.stage.redhat.io/cluster-observability-operator
  - mirrors:
    - {{ prega_mirror }}/prega/test/compliance
    source: registry.redhat.io/compliance
  - mirrors:
    - {{ prega_mirror }}/prega/test/compliance
    source: registry.stage.redhat.io/compliance
  - mirrors:
    - {{ prega_mirror }}/prega/test/kmm
    source: registry.redhat.io/kmm
  - mirrors:
    - {{ prega_mirror }}/prega/test/kmm
    source: registry.stage.redhat.io/kmm
  - mirrors:
    - {{ prega_mirror }}/prega/test/lvms4
    source: registry.redhat.io/lvms4
  - mirrors:
    - {{ prega_mirror }}/prega/test/lvms4
    source: registry.stage.redhat.io/lvms4
  - mirrors:
    - {{ prega_mirror }}/prega/test/migration-toolkit-virtualization
    source: registry.redhat.io/migration-toolkit-virtualization
  - mirrors:
    - {{ prega_mirror }}/prega/test/migration-toolkit-virtualization
    source: registry.stage.redhat.io/migration-toolkit-virtualization
  - mirrors:
    - {{ prega_mirror }}/prega/test/mta
    source: registry.redhat.io/mta
  - mirrors:
    - {{ prega_mirror }}/prega/test/mta
    source: registry.stage.redhat.io/mta
  - mirrors:
    - {{ prega_mirror }}/prega/test/mtr
    source: registry.redhat.io/mtr
  - mirrors:
    - {{ prega_mirror }}/prega/test/mtr
    source: registry.stage.redhat.io/mtr
  - mirrors:
    - {{ prega_mirror }}/prega/test/multicluster-engine
    source: registry.redhat.io/multicluster-engine
  - mirrors:
    - {{ prega_mirror }}/prega/test/multicluster-engine
    source: registry.stage.redhat.io/multicluster-engine
  - mirrors:
    - {{ prega_mirror }}/prega/test/noo
    source: registry.redhat.io/noo
  - mirrors:
    - {{ prega_mirror }}/prega/test/noo
    source: registry.stage.redhat.io/noo
  - mirrors:
    - {{ prega_mirror }}/prega/test/oadp
    source: registry.redhat.io/oadp
  - mirrors:
    - {{ prega_mirror }}/prega/test/oadp
    source: registry.stage.redhat.io/oadp
  - mirrors:
    - {{ prega_mirror }}/prega/test/odf4
    source: registry.redhat.io/odf4
  - mirrors:
    - {{ prega_mirror }}/prega/test/odf4
    source: registry.stage.redhat.io/odf4
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-logging
    source: registry.redhat.io/openshift-logging
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-logging
    source: registry.stage.redhat.io/openshift-logging
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-pipelines
    source: registry.redhat.io/openshift-pipelines
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-pipelines
    source: registry.stage.redhat.io/openshift-pipelines
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-serverless-1
    source: registry.redhat.io/openshift-serverless-1
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-serverless-1
    source: registry.stage.redhat.io/openshift-serverless-1
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-service-mesh
    source: registry.redhat.io/openshift-service-mesh
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-service-mesh
    source: registry.stage.redhat.io/openshift-service-mesh
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-service-mesh-tech-preview
    source: registry.redhat.io/openshift-service-mesh-tech-preview
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-service-mesh-tech-preview
    source: registry.stage.redhat.io/openshift-service-mesh-tech-preview
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-update-service
    source: registry.redhat.io/openshift-update-service
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-update-service
    source: registry.stage.redhat.io/openshift-update-service
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift4
    source: registry.redhat.io/openshift4
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift4
    source: registry.stage.redhat.io/openshift4
  - mirrors:
    - {{ prega_mirror }}/prega/test/quay
    source: registry.redhat.io/quay
  - mirrors:
    - {{ prega_mirror }}/prega/test/quay
    source: registry.stage.redhat.io/quay
  - mirrors:
    - {{ prega_mirror }}/prega/test/rh-sso-7
    source: registry.redhat.io/rh-sso-7
  - mirrors:
    - {{ prega_mirror }}/prega/test/rh-sso-7
    source: registry.stage.redhat.io/rh-sso-7
  - mirrors:
    - {{ prega_mirror }}/prega/test/rhacm2
    source: registry.redhat.io/rhacm2
  - mirrors:
    - {{ prega_mirror }}/prega/test/rhacm2
    source: registry.stage.redhat.io/rhacm2
  - mirrors:
    - {{ prega_mirror }}/prega/test/rhbk
    source: registry.redhat.io/rhbk
  - mirrors:
    - {{ prega_mirror }}/prega/test/rhbk
    source: registry.stage.redhat.io/rhbk
  - mirrors:
    - {{ prega_mirror }}/prega/test/rhceph
    source: registry.redhat.io/rhceph
  - mirrors:
    - {{ prega_mirror }}/prega/test/rhceph
    source: registry.stage.redhat.io/rhceph
  - mirrors:
    - {{ prega_mirror }}/prega/test/rhel8
    source: registry.redhat.io/rhel8
  - mirrors:
    - {{ prega_mirror }}/prega/test/rhel8
    source: registry.stage.redhat.io/rhel8
  - mirrors:
    - {{ prega_mirror }}/prega/test/rhel9
    source: registry.redhat.io/rhel9
  - mirrors:
    - {{ prega_mirror }}/prega/test/rhel9
    source: registry.stage.redhat.io/rhel9
  - mirrors:
    - {{ prega_mirror }}/prega/test/rhosdt
    source: registry.redhat.io/rhosdt
  - mirrors:
    - {{ prega_mirror }}/prega/test/rhosdt
    source: registry.stage.redhat.io/rhosdt
  - mirrors:
    - {{ prega_mirror }}/prega/test/source-to-image
    source: registry.redhat.io/source-to-image
  - mirrors:
    - {{ prega_mirror }}/prega/test/source-to-image
    source: registry.stage.redhat.io/source-to-image
  - mirrors:
    - {{ prega_mirror }}/prega/test/ubi8
    source: registry.redhat.io/ubi8
  - mirrors:
    - {{ prega_mirror }}/prega/test/ubi8
    source: registry.stage.redhat.io/ubi8
  - mirrors:
    - {{ prega_mirror }}/prega/test/ubi9
    source: registry.redhat.io/ubi9
  - mirrors:
    - {{ prega_mirror }}/prega/test/ubi9
    source: registry.stage.redhat.io/ubi9
  - mirrors:
    - {{ prega_mirror }}/prega/test/workload-availability
    source: registry.redhat.io/workload-availability
  - mirrors:
    - {{ prega_mirror }}/prega/test/workload-availability
    source: registry.stage.redhat.io/workload-availability
  - mirrors:
    - {{ prega_mirror }}/prega/test/acm-d
    source: {{ prega_mirror }}/acm-d
  - mirrors:
    - {{ prega_mirror }}/prega/test/rhceph-dev
    source: {{ prega_mirror }}/rhceph-dev
  - mirrors:
    - {{ prega_mirror }}/prega/test/redhat-user-workloads/ocp-art-tenant/art-images-share
    source: {{ prega_mirror }}/redhat-user-workloads/ocp-art-tenant/art-images-share
  - mirrors:
    - {{ prega_mirror }}/prega/test/redhat-user-workloads/ocp-art-tenant
    source: {{ prega_mirror }}/redhat-user-workloads/ocp-art-tenant
  - mirrors:
    - {{ prega_mirror }}/prega/test/redhat-user-workloads/rh-openshift-gitops-tenant
    source: {{ prega_mirror }}/redhat-user-workloads/rh-openshift-gitops-tenant
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift5/metallb-rhel9
    source: registry.redhat.io/openshift5/metallb-rhel9
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift5
    source: registry.stage.redhat.io/openshift5
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift5/ose-cluster-nfd-rhel9-operator
    source: registry.redhat.io/openshift5/ose-cluster-nfd-rhel9-operator
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift5/ose-kube-rbac-proxy-rhel9
    source: registry.redhat.io/openshift5/ose-kube-rbac-proxy-rhel9
  - mirrors:
    - {{ prega_mirror }}/prega/test/redhat-user-workloads/ocp-art-tenant/art-images-share
    source: registry.redhat.io/openshift5/ose-node-feature-discovery-rhel9
  - mirrors:
    - {{ prega_mirror }}/prega/test/redhat-user-workloads/ocp-art-tenant/art-images-share
    source: registry.stage.redhat.io/openshift5/ose-node-feature-discovery-rhel9
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift5/ose-ptp-rhel9
    source: registry.stage.redhat.io/openshift5/ose-ptp-rhel9
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift5/ose-ptp-rhel9-operator
    source: registry.redhat.io/openshift5/ose-ptp-rhel9-operator
  - mirrors:
    - {{ prega_mirror }}/prega/test/redhat-user-workloads/ocp-art-tenant/art-images-share
    source: registry.redhat.io/openshift5/ose-secrets-store-csi-driver-rhel9
  - mirrors:
    - {{ prega_mirror }}/prega/test/redhat-user-workloads/ocp-art-tenant/art-images-share
    source: registry.stage.redhat.io/openshift5/ose-secrets-store-csi-driver-rhel9
  - mirrors:
    - {{ prega_mirror }}/prega/test
    source: quay.io/prega/test
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-gitops-1/gitops-rhel9-operator
    source: registry.redhat.io/openshift-gitops-1/gitops-rhel9-operator
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-gitops-1/gitops-rhel9
    source: registry.redhat.io/openshift-gitops-1/gitops-rhel9
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-gitops-1/rh-openshift-gitops-tenant
    source: registry.redhat.io/openshift-gitops-1
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift5
    source: registry.stage.redhat.io/openshift5
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift5
    source: registry.redhat.io/openshift5
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-gitops-1
    source: registry.redhat.io/openshift-gitops-1
  - mirrors:
    - {{ prega_mirror }}/prega/test/rhceph/9-rhel9
    source: registry.redhat.io/rhceph/rhceph-9-rhel9
---
apiVersion: config.openshift.io/v1
kind: ImageTagMirrorSet
metadata:
  name: prega-itms
spec:
  imageTagMirrors:
  - mirrors:
    - {{ prega_mirror }}/prega/test/openshift-logging
    source: {{ prega_mirror }}/prega/test/openshift-logging
